/* ***************************
  top page
*************************** */
.header {
  background-color: #67AE93;
}
.header__logo {
  width: 150px;
  margin: 0 auto;
  padding: 15px 0;
}

.main-container {
  width: 95%;
  margin: 50px auto;
}
.main-container__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-container__flex {
  display: flex;
  align-items: center;
}
.main-conainer__flex-left {
  width: 70%;
  text-align: left;
}
.main-container__flex-right {
  width: 30%;
  text-align: center;
}
.main-container__item {
  width: calc(97% / 2);
}
.main-container__item-link {
  position: relative;
  width: 100%;
  border: solid 2px #67AE93;
  background-color: #fff;
  border-radius: 8px;
}
.main-container__item-inner {
  position: relative;
  padding: 8px 4px 8px 10px;
  z-index: 1;
}
.main-container__item-title {
  margin-bottom: 3px;
  color: #404040;
}
.main-container__text {
  color: #404040;
}
.main-container__item-progress {
  position: absolute;
  width: 30%;
  height: 100%;
  background-color: #e1f2ec;
  border-radius: 8px;
  top: 0;
  left: 0;
  z-index: 0;
}

/* ***************************
  question page
*************************** */
.main {
  position: relative;
}
.question__list {
  display: flex;
  overflow: hidden;
}
.question__item {
  width: 100%;
  flex-shrink: 0;
  transition: all .3s ease-in-out;
}
.question__title {
  margin-bottom: 35px;
  text-align: center;
  font-size: 3rem;
}
.question__answer-item {
  width: 100%;
  margin: 20px 0;
  font-size: 1.4rem;
}
.question__answer-button {
  width: 100%;
  height: 45px;
  background-color: #fff;
  border: solid 2px #67AE93;
  border-radius: 8px;
}
.question__answer-category {
  margin-right: 5px;
  padding: 3px;
  background-color: #cfe8de;
  border-radius: 2px;
  font-size: 1.2rem;
}

.review {
  position: fixed;
  width: 100%;
  background-color: #fff;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 0 2px 2px rgba(160, 160, 160, 0.1);
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  transition: all .2s ease-in-out;
  visibility: hidden;
  z-index: 1;
}
.review.correct,
.review.incorrect {
  visibility: visible;
  transform: translateY(0);
}
.review.correct {
  background-color: #e6faf1;
}
.review.incorrect {
  background-color: #fae6e6;
}
.review.correct::after,
.review.incorrect::after {
  display: block;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 3rem;
  font-weight: bold;
}
.review.correct::after {
  content: "Correct";
  color: #c0e6d8;
}
.review.incorrect::after {
  content: "Incorrect";
  color: #eac9c9;
}
.review__inner {
  padding: 10px 8px;
}
.review__item {
  margin: 10px 0;
}
.review__title {
  margin-bottom: 10px;
  font-size: 2.4rem;
}
.review__sub-title {
  margin-bottom: 6px;
  font-size: 1.6rem;
}
.review.correct .review__sub-title {
  border-bottom: solid 1px #bed3cb;
}
.review.incorrect .review__sub-title {
  border-bottom: solid 1px #e3cccc;
}
.review__sentence {
  margin-bottom: 3px;
  font-size: 1.4rem;
}
.review__sentence-jp {
  font-size: 1.2rem;
}
.review__desc {
  font-size: 1.4rem;
}
.review__desc-category {
  margin-right: 5px;
  padding: 3px;
  border-radius: 2px;
  font-size: 1.2rem;
}
.review.correct .review__desc-category {
  background-color: #bed3cb;
}
.review.incorrect .review__desc-category {
  background-color: #dcbaba;
}
.review__button {
  width: 150px;
  height: 40px;
  margin: 10px 0 20px;
  border: none;
  border-radius: 30px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
}
.review.review.correct .review__button {
  background-color: #67AE93;
}
.review.review.incorrect .review__button {
  background-color: #d18686;
}

.close__button-wrap {
  position: absolute;
  width: 35px;
  height: 35px;
  top: -40px;
  right: 10px;
}
.close__button {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ebe1da;
  border: none;
}
.close__button::before,
.close__button::after {
  position: absolute;
  content: "";
  width: 70%;
  height: 3px;
  background-color: #fbfbfb;
  border-radius: 3px;
  top: 50%;
  left: 50%;
}
.close__button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.close__button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* ***************************
  utility
*************************** */
.u-ml-3 {
  margin-left: 3px;
}
.u-mr-3 {
  margin-right: 3px;
}
.u-fs-14 {
  font-size: 1.4rem;
}
.u-fs-30 {
  font-size: 3rem;
}
.u-font-bold {
  font-weight: bold;
}
.u-text-center {
  text-align: center;
}