/* ***************************
  top page
*************************** */
.header {
  background-color: #67AE93;
}
.header__logo {
  width: 150px;
  margin: 0 auto;
  padding: 15px 0;
}

.main-container {
  width: 95%;
  margin: 50px auto;
}
.main-container__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-container__flex {
  display: flex;
  align-items: center;
}
.main-conainer__flex-left {
  width: 70%;
  text-align: left;
}
.main-container__flex-right {
  width: 30%;
  text-align: center;
}
.main-container__item {
  width: calc(97% / 2);
  margin-bottom: 20px;
}
.main-container__item-link {
  position: relative;
  width: 100%;
  border: solid 2px #67AE93;
  background-color: #fff;
  border-radius: 8px;
}
.main-container__item-inner {
  position: relative;
  padding: 8px 4px 8px 10px;
  z-index: 1;
}
.main-container__item-title {
  text-transform: capitalize;
  color: #404040;
}
.main-container__text {
  color: #404040;
}
.main-container__item-progress {
  position: absolute;
  width: 30%;
  height: 100%;
  background-color: #e1f2ec;
  border-radius: 8px;
  top: 0;
  left: 0;
  z-index: 0;
}

.config, .home {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 15px;
  right: 10px;
}
.config {
  bottom: 15px;
}
.config__button {
  width: 100%;
  height: 100%;
  background-color: #67AE93;
  border: solid 2px #67AE93;
  border-radius: 50%;
}
.config__icon {
  width: 50%;
  height: 50%;
  vertical-align: middle;
}
.home {
  bottom: 65px;
}
.home__button {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: solid 2px #67AE93;
  border-radius: 50%;
}
.home__icon {
  width: 50%;
  height: 50%;
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .home, .config {
    right: calc(15px + ((100% - 768px) / 2));
  }
}

/* ***************************
  question page
*************************** */
.main {
  position: relative;
}
.question__list {
  display: flex;
  overflow: hidden;
}
.question__item {
  width: 100%;
  flex-shrink: 0;
  transition: all .3s ease-in-out;
}
.question__title {
  margin-bottom: 35px;
  text-align: center;
  font-size: 3rem;
}
.question__title--jp {
  display: block;
  font-size: 1.4rem;
}
.question__title--en {
  display: block;
  margin-top: 3px;
  text-align: left;
}
.question__answer-item {
  width: 100%;
  margin: 20px 0;
  font-size: 1.4rem;
}
.question__answer-button {
  width: 100%;
  height: 45px;
  background-color: #fff;
  border: solid 2px #67AE93;
  border-radius: 8px;
}
.question__answer-category {
  margin-right: 5px;
  padding: 3px;
  background-color: #cfe8de;
  border-radius: 2px;
  font-size: 1.2rem;
}

.review {
  position: fixed;
  width: 100%;
  background-color: #fff;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 0 2px 2px rgba(160, 160, 160, 0.1);
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  transition: all .2s ease-in-out;
  visibility: hidden;
  z-index: 1;
}
.review.correct,
.review.incorrect {
  visibility: visible;
  transform: translateY(0);
}
.review.correct {
  background-color: #e6faf1;
}
.review.incorrect {
  background-color: #fae6e6;
}
.review.correct::after,
.review.incorrect::after {
  display: block;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 3rem;
  font-weight: bold;
}
.review.correct::after {
  content: "Correct";
  color: #c0e6d8;
}
.review.incorrect::after {
  content: "Incorrect";
  color: #eac9c9;
}
.review__inner {
  padding: 10px 8px;
}
.review__item {
  margin: 10px 0;
}
.review__title {
  margin-bottom: 10px;
  font-size: 2.4rem;
}
.review__sub-title {
  margin-bottom: 6px;
  font-size: 1.6rem;
}
.review.correct .review__sub-title {
  border-bottom: solid 1px #bed3cb;
}
.review.incorrect .review__sub-title {
  border-bottom: solid 1px #e3cccc;
}
.review__sentence {
  margin-bottom: 3px;
  font-size: 1.4rem;
}
.review__sentence-jp {
  font-size: 1.2rem;
}
.review__desc {
  font-size: 1.4rem;
}
.review__desc-category {
  margin-right: 5px;
  padding: 3px;
  border-radius: 2px;
  font-size: 1.2rem;
}
.review.correct .review__desc-category {
  background-color: #bed3cb;
}
.review.incorrect .review__desc-category {
  background-color: #dcbaba;
}
.review__button {
  width: 150px;
  height: 40px;
  margin: 10px 0 20px;
  border: none;
  border-radius: 30px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
}
.review.review.correct .review__button {
  background-color: #67AE93;
}
.review.review.incorrect .review__button {
  background-color: #d18686;
}

.progress-bar {
  position: fixed;
  width: 80%;
  top: 72px;
  left: 10px;
}
.progress-bar__bg {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #dcdcdc;
  border-radius: 30px;
}
.progress-bar__line {
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #67AE93;
  border-radius: 30px;
  transition: all .2s ease-in-out;
}

.close__button-wrap {
  position: fixed;
  width: 35px;
  height: 35px;
  top: 60px;
  right: 10px;
}
.close__button {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ebe1da;
  border: none;
}
.close__button::before,
.close__button::after {
  position: absolute;
  content: "";
  width: 70%;
  height: 3px;
  background-color: #fbfbfb;
  border-radius: 3px;
  top: 50%;
  left: 50%;
}
.close__button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.close__button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.finish-modal-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  top: 0;
  left: 0;
  opacity: 0.3;
  visibility: hidden;
  transition: all .3s 1s ease-in-out;
  z-index: 1;
}
.finish-modal-bg--show {
  visibility: visible;
}
.finish-modal {
  position: fixed;
  width: 80%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: all .3s 1s ease-in-out;
  z-index: 2;
}
.finish-modal--show {
  opacity: 1;
  visibility: visible;
}
.finish-modal__title {
  margin-bottom: 16px;
  font-size: 3rem;
  font-weight: bold;
}
.finish-modal__button {
  padding: 8px 16px;
  background-color: #67AE93;
  border: none;
  border-radius: 30px;
  font-size: 1.6rem;
  color: #fff;
}

/* ***************************
  config page
*************************** */
.config-info {
  width: 95%;
  margin: auto;
}
.config-info {
  width: 95%;
  margin: auto;
}
.config-info__item {
  border-bottom: solid 1px #666;
}
.config-info__label {
  display: block;
  position: relative;
  padding: 20px 0;
  font-size: 16px;
}
.config-info__label::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 30px;
  background-color: #cfc3bc;
  border-radius: 30px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.config-info__label::after {
  position: absolute;
  content: "";
  width: 27px;
  height: 27px;
  background-color: #666;
  border-radius: 50%;
  top: 50%;
  right: 31px;
  transform: translateY(-50%);
  transition: all .3s ease-in-out;
}
.config-info__radio {
  display: none;
  -webkit-appearance: none;
  appearance: none;
}
.config-info__radio:checked + .config-info__label::before {
  background-color: #fff;
}
.config-info__radio:checked + .config-info__label::after {
  background-color: #67AE93;
  right: 2px;
}

.config-close {
  margin: 30px 0;
  text-align: center;
}
.config-close__button {
  padding: 8px 16px;
  background-color: #666;
  border: none;
  border-radius: 30px;
  color: #fff;
}

/* ***************************
  incorrect nav
*************************** */
.incorrect-nav {
  display: none;
  position: fixed;
  width: 75%;
  bottom: 15px;
  left: 10px;
}
.incorrect-nav__button {
  width: 100%;
  height: 40px;
  background-color: #67AE93;
  border: none;
  border-radius: 8px;
  font-size: 1.6rem;
  color: #fff;
}
.incorrect-nav__count {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #c42525;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: #fff;
  top: -8px;
  right: -8px;
}

@media screen and (min-width: 768px) {
  .incorrect-nav {
    width: calc(80% - (100% - 768px));
    left: calc(10px + ((100% - 768px) / 2));
  }
}

/* ***************************
  utility
*************************** */
.u-ml-3 {
  margin-left: 3px !important;
}
.u-mr-3 {
  margin-right: 3px !important;
}
.u-fs-14 {
  font-size: 1.4rem !important;
}
.u-fs-30 {
  font-size: 3rem !important;
}
.u-font-bold {
  font-weight: bold !important;
}
.u-text-center {
  text-align: center !important;
}
.block {
  display: block !important;
}