.header {
  background-color: #67AE93;
}
.header__logo {
  width: 150px;
  margin: 0 auto;
  padding: 15px 0;
}

.main-container {
  width: 95%;
  margin: 50px auto;
}
.main-container__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-container__item {
  width: calc(97%);
}